name: Publish Workflow
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: "18.20.8"
          registry-url: https://registry.npmjs.org

      # Task execution
      - run: npm ci
      # authenticate by OIDC
      - run: |
        echo "OIDC token available"
        echo "${ACTIONS_ID_TOKEN_REQUEST_URL:+YES}"
      - run: npm publish --access public
